/*------------------------------------------------------------fading panel--------------------------------------------------------*/

body { font-family: 'Lato', sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
 .slideshow-container {
  width: 100%;
  position: relative;
  
  
  
}
.mySlides img {
  width: 100%;
}
table p{
  position:absolute;
  top: 150px;
  background-color: white;
}
/* Caption text */


/* Number text (1/3 etc) */


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* -------------------------------------------------gallery----------------------------------------------------------------- */

  .overlay {
    position:absolute;
    z-index:20;
    height: 100%;
    width: 100%;
    opacity: 0;
    left:0.1vw;
    margin: 5px 5px;
    top:0%;
    transition: .5s ease;
    background-color: #fff;
    flex-basis: calc(100% / 3);
  }
  .item:hover .overlay {
    opacity: 1;
    z-index:20;
    background-color: #fff;
  }
 
  
  @media (max-width: 950px) {
    .overlay {
      height:23vw;
      width:23vw;
     left:2vw;
     top:2.0vw;
     padding:0.1vw 0.1vw;
    }
  }
  @media (max-width: 750px) {
    .overlay {
      top:2.0vw;
      left:1vw;
      width: 29vw  ;
      height:29vw;
      padding:0.3vw 0.3vw;
      
    }
  }
  @media (max-width: 450px) {
    .overlay {
      width: 38vw;
      height:38vw;
      padding:0.1vw 0.1vw;
    }
  }
  .text {
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding: 10% 10%;
    position: absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  }
  .gallery img {
    
 padding-inline-start:1%;
 padding-top:1% ;
    width: 22%;
    height: 38%;
    min-width:22%;
    min-height:38%;
    max-width:22%;
    max-height:38%;
    margin-top:-3.3%;
  }
 
  .gallery{
    
    display:inline-block;
    margin-left:1%;
    margin-right:1%;
    margin-top:2%;
    padding-top:2%;
  flex:1;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  }
  .producttextcontainer{
  
 padding-inline-start:1%;
 padding-top:1% ;
 padding-bottom:1% ;
 max-width:44vw;
  max-height:20vw;
 
    display:inline-block;
  }
.producttextspan{
  max-width:44vw;
 font-size:1.2vw;
}
  .desc {
    padding: 15px;
    text-align: center;
  }
  .grid td {
    position: relative;
    
    text-align: center;
  }
  .small-images{
    width:30%;
    height:30%;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  /*----------------------------------------------------------navbar------------------------------------------------------------*/
 

  
  ul {    /* golqm cheren bar*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:relative;
    
  }
  
  li {
    float: left;
  }
  
  li a {      /* samiqt buton na texta*/
    display: block;
    color: white;
    text-align: center;
    padding: 6px 0px;
    text-decoration: none;
    
  }
  .telephoneadress {
    float:right;
    padding-top:25px;
    color: white;
    text-align: middle ;
  }
  li a.btnbrand{      /*  text*/
    padding: 44px 30px;
     height:42px ;
     width:130px; 
     font-size:22px;
    }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  /**/
  .placement{
    float:left;
    position: relative;
  right:-1vw;
  }
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
    /* Dropdown Button */
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #111;}
  /*------------------------------------------------------*/
  
.productinfo{
  background-color: white;
  width:100%;
  height: 800px;
}
.productinfo td{
  padding-left:5px;
  text-align: justify -50px ;
  vertical-align:top;
  padding-top:25px;
   font-size: 20  ;
    table-layout: fixed;
  
}
.small_grid  {
  margin:20px;
  padding: 6px 120px;
  
}
.small_grid td img {
  width:200px;
}
.small_grid td  {
  position: relative;
  margin-left:AUTO;
  padding: 5px 20px;
  
}
.minigallery{
  flex: 1;
  
  z-index:0;
  display: block;
  position: relative;
  padding: 2vw;
  margin: 2vw 1vw;
  opacity:1;
}
.minigallery img{
  width: 13vmax;
  height: auto;
}
.minigallery:hover .overlay1 {
  opacity: 1;
  z-index:20;
  background-color: #fff;
}
.overlay1 {
  top: 0%;
  z-index:20;
 
  position:absolute;
  height: 100%;
  width: 100%;
  max-height: 25vmax;
  max-width: 15vmax;
  opacity: 0;
  margin-left: -1vw;
  transition: .5s ease;
  background-color: #fff;
}
.text1 {
  color: #ff0000;
  font-size: 13px;
  padding: 0px 0px;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  
 top:20%  ;
  
  
  font-weight: bold;
}
.burrongrid{
 margin-top:13px;
  padding: 0px 0px;
  background-color: #333;
  color: white;
  width: 100%;
  height: 50px;
  font-weight: bold;
  cursor:pointer;
}
.burrongrid1{
  margin-top:13px;
  padding: 0px 0px;
  background-color: #333;
  color: white;
  width: 100%;
  height: 50px;
  font-weight: bold;
  cursor:pointer;
}
.container{
  background-color: #333;
  display: block;
  z-index:4
}
.container3{
  padding-right:1%;
  float:right;
}
.nav1{
width:100%;
}
#nav{
  position: fixed;
  z-index:4
  
}

.container1 {
  margin: auto;
  margin-left:5%;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  align-items: flex-start;
  gap: 10px 20px;
  justify-content: normal;
}
.container2 {
  margin: auto;
  padding:auto;
  margin-left:5%;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  align-items: flex-start;
  gap: 10px 20px;
  padding:5% 5%;
  margin-left: auto;
  margin-right: auto;
  justify-content: normal;
}
.item {
  display: inline-block;
  flex: 1;
  display: block;
  position: relative;
  padding:2vw;
  margin: 20px 10px;
  max-width: 20vw
  
}
@media (max-width: 950px) {
  .item {
    height:22vw;
    width:22vw;
   
  }
}

@media (max-width: 760px) {
  .item {
    width: 23vw;
    height:23vw;
    
  }
}
@media (max-width: 450px) {
  .item {
    width: 38vw;
    height:38vw;
    left:-1vw;
    margin:2vw 5vw;
  }
}

img.imagebd{
  height:20vw;
  width:20vw;
  display: block;
  position: relative;
}


@media screen and (max-width: 900px) {
  img.imagebd{
    height:23vw;
    width:23vw;
    
  }
}

@media screen and (max-width: 760px) {
  img.imagebd{
    height:28vw;
    width:28vw;
    
  }
}
@media screen and (max-width: 450px) {
  img.imagebd{
    width: 38vw;
    height:38vw;
    
  }
}
.textproducts{
  color: red;
    font-size: 25px;
    font-weight: bold;
    padding: 10% 10%;
    position: absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .textproducts {
    font-size: 14px;
  }
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
 
  flex:1;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  align-items: flex-start;
  gap: 10px 20px;
  justify-content: normal;
}
 
 
 
  
  
  
  


h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.fadeblock{
  position:relative;
}
/*----------------------------------------------------------------------------------*/
.enterform{
  display: block;
  display: flex;
            justify-content: center;
  width:100%;
  justify-content:center;
}
.centerform{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  
margin-top:4%;
 
  
}
.insideformlogin{
  width:50vw;
  height:10vw;
  padding: 100px;
  border-radius: 7px;
  
  background-size: cover;
  min-width:200px ;
  background:rgb(36, 70, 209);
  background-repeat: no-repeat; 
}
.insideformregister{
  width:30vw;
  height:30vw;
  padding: 100px;
  border-radius: 7px;
  justify-content: center;
  background-size: cover;
  min-width:200px ;
  background:rgb(36, 70, 209);
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1555px) {
  .insideformregister{
  margin:0;
  width:30vw;
  height:30vw;
  }
}

@media screen and (max-width: 850px) {
  .insideformregister{
    width:30vw;
    height:55vw;
  }
}
@media screen and (max-width: 600px) {
  .insideformregister{
    width:30vw;
    height:65vw;
  }
}
@media screen and (max-width: 500px) {
  .insideformregister{
    width:30vw;
    height:72vw;
  }
}
@media screen and (max-width: 460px) {
  .insideformregister{
    width:30vw;
    height:88vw;
  }
}
@media screen and (max-width: 380px) {
  .insideformregister{
    width:30vw;
    height:94vw;
  }
}
@media screen and (max-width: 350px) {
  .insideformregister{
    width:30vw;
    height:98vw;
  }
}
.registration form {
  width: 220px;
  height:330px;
  
  background-color: black;
  padding: 10px 0px 0px 4px;
  border-radius: 15px;
  color: rgb(69, 69, 69);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  font-family: "Century Gothic";
}

.registration input, .registration select {
  width: 195px;
  height: 20px;
  margin: 3px 0px 0px 10px;
  border: 0px;
  font-weight: bold;
}

.registration input:focus {
  background-color: rgb(38, 99, 253);
}

.registration form label {
  margin: 5px 0px 0px 15px;
}

a {
  outline: none;
}

.register_button {
  width: 15vw;
  height: 3.5vw;
  background-color: rgb(38, 99, 253);
  border-radius: 10px;
  margin: 15px auto 0px auto;
  text-align: center;
  cursor: pointer;
  clear: both;
}

.register_button span {
  font-weight: normal;
  font-size: 28px;
  font-family: "Impact";
  line-height: 40px;
}

.register_button span a {
  text-decoration: none;
  color: white;
}

.register_button span a:hover {
  color: black;
}

span.error {
  margin-right: 20px;
  font-size: 9px;
  color: rgb(0, 0, 0);
  height: 10px;
  float:left;
}

p.error {
  margin: 0px 14px 0px 10px;
  font-size: 9px;
  color: rgb(0, 0, 0);
  height: 6px;
  padding: 0px 0px 8px 0px;
  text-align: right;
  text-transform: none;
  
}
td.small-image-product{
  width:5%;
  height:5%;
}
a.adminbutton{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.contentupload{
  width: 50%;
  margin: 20px auto;
  border: 1px solid #cbcbcb;
}
.galleryproduct{
  margin-left:1%;
    margin-right:1%;
    margin-top:2%;
    padding-top:2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: flex-start;
    gap: 10px 20px;
    justify-content: normal;
}
.galleryprodutscreen{
  display:inline-block;
  margin-left:1%;
  margin-right:1%;
  margin-top:2%;
  padding-top:2%;
flex:1;
flex-direction: row;
flex-wrap: wrap;
background-color: #fff;
}
.small-images img {
  width:15vw;
  height:15vw;
}
.product-image{
  margin-top:-10vw;
  margin-right:1vw;
  width:25vw;
  height:25vw;
}
.wholeproductpage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  align-items: flex-start;
}
.buynowbutton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:5px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.buynowbutton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.buynowbutton:active {
	position:relative;
	top:1px;
}
.textareaupload{
  resize: none;
}
.firstadminpanel{
border:solid;
border-width: 3px;
border-style:double 
}
.headeredit {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.formedit {
	margin: 20px;
	padding: 10px;
	border: 2px solid #333;
  display: flex;
  justify-content: center;
}
input[type="text"].profile_first_name,
input[type="text"].profile_last_name,
input[type="text"].profile_username,
input[type="text"].profile_email,
input[type="text"].profile_organization,
input[type="text"].profile_address1,
input[type="text"].profile_address2,
input[type="text"].profile_phone_number,
input[type="text"].profile_post_code{
  width: 20vw;
}
@media only screen and (max-width: 1555px){
  input[type="text"].profile_first_name,
  input[type="text"].profile_last_name,
  input[type="text"].profile_username,
  input[type="text"].profile_email,
  input[type="text"].profile_organization,
  input[type="text"].profile_address1,
  input[type="text"].profile_address2,
  input[type="text"].profile_phone_number,
  input[type="text"].profile_post_code{
   
  width: 20vw;
}
}
@media screen and (max-width: 1000px){
  input[type="text"].profile_first_name,
  input[type="text"].profile_last_name,
  input[type="text"].profile_username,
  input[type="text"].profile_email,
  input[type="text"].profile_organization,
  input[type="text"].profile_address1,
  input[type="text"].profile_address2,
  input[type="text"].profile_phone_number,
  input[type="text"].profile_post_code{
  width: 33vw;
}
}
@media screen and (max-width: 850px){
  input[type="text"].profile_first_name,
  input[type="text"].profile_last_name,
  input[type="text"].profile_username,
  input[type="text"].profile_email,
  input[type="text"].profile_organization,
  input[type="text"].profile_address1,
  input[type="text"].profile_address2,
  input[type="text"].profile_phone_number,
  input[type="text"].profile_post_code{
   
    width: 42vw;
}
}
@media only screen and (max-width: 800px){
  input[type="text"].profile_first_name,
  input[type="text"].profile_last_name,
  input[type="text"].profile_username,
  input[type="text"].profile_email,
  input[type="text"].profile_organization,
  input[type="text"].profile_address1,
  input[type="text"].profile_address2,
  input[type="text"].profile_phone_number,
  input[type="text"].profile_post_code{
   
  width: 48vw;
}
}

@media only screen and (max-width: 600px){
  input[type="text"].profile_first_name,
  input[type="text"].profile_last_name,
  input[type="text"].profile_username,
  input[type="text"].profile_email,
  input[type="text"].profile_organization,
  input[type="text"].profile_address1,
  input[type="text"].profile_address2,
  input[type="text"].profile_phone_number,
  input[type="text"].profile_post_code{
  width: 54vw;
}
}

@media only screen and (max-width: 480px){
  input[type="text"].profile_first_name,
  input[type="text"].profile_last_name,
  input[type="text"].profile_username,
  input[type="text"].profile_email,
  input[type="text"].profile_organization,
  input[type="text"].profile_address1,
  input[type="text"].profile_address2,
  input[type="text"].profile_phone_number,
  input[type="text"].profile_post_code{
  width: 64vw;
}
}

.profilecheck{

  padding:2vw;
  
}
input[type="text"].shopping-name,
input[type="text"].shopping-phone,
input[type="text"].shopping-lastname,
input[type="text"].shopping-address1,
input[type="text"].shopping-address2,
input[type="text"].shopping-phone,
input[type="text"].shopping-postcode,
.selectedit{
	width: 100%;
	padding: 12px 20px;
	margin: 0.5vw 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
@media only screen and (max-width: 1600px){
  input[type="text"].shopping-name,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-lastname,
  input[type="text"].shopping-address1,
  input[type="text"].shopping-address2,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-postcode,
.selectedit{ 
   
  width: 30vw;
}
}
@media only screen and (max-width: 1555px){
  input[type="text"].shopping-name,
input[type="text"].shopping-phone,
input[type="text"].shopping-lastname,
input[type="text"].shopping-address1,
input[type="text"].shopping-address2,
input[type="text"].shopping-phone,
input[type="text"].shopping-postcode,
.selectedit{ 
   
  width: 40vw;
}
}
@media screen and (max-width: 1000px){
  input[type="text"].shopping-name,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-lastname,
  input[type="text"].shopping-address1,
  input[type="text"].shopping-address2,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-postcode,
.selectedit{
  width: 53vw;
}
}
@media screen and (max-width: 850px){
  input[type="text"].shopping-name,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-lastname,
  input[type="text"].shopping-address1,
  input[type="text"].shopping-address2,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-postcode,
.selectedit{ 
   
    width: 62vw;
}
}
@media only screen and (max-width: 800px){
  input[type="text"].shopping-name,
input[type="text"].shopping-phone,
input[type="text"].shopping-lastname,
input[type="text"].shopping-address1,
input[type="text"].shopping-address2,
input[type="text"].shopping-phone,
input[type="text"].shopping-postcode,
.selectedit{ 
   
  width: 60vw;
}
}

@media only screen and (max-width: 600px){
  input[type="text"].shopping-name,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-lastname,
  input[type="text"].shopping-address1,
  input[type="text"].shopping-address2,
  input[type="text"].shopping-phone,
  input[type="text"].shopping-postcode,
.selectedit{ 
   
  width: 80vw;
}
}

.submitedit{
  background-color: #0784bd;
	color: #fff;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.submitedit:hover{
  background-color: #0871a2;
}

.sidebar {
  height:200%;
  width: 12vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 10vw;
  padding-left:-2vw;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0.4vw;;
}
.sidebar li {
  margin-bottom: 0.5vw;
  margin-left: 0.5vw;
  padding: 0.8vw;
}
.sidebar a {
  display: block;
  padding: 0.5vw;
  color: #fff;
  text-decoration: none;
}
#content {
  margin-left: 200px;
  padding: 20px;
}
.allimageproductboxdash{
 
margin: 1vw;
}
.wholeproductpagedash{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  align-items: flex-start;
}
.producttextcontainerdash{
  padding-inline-start:1%;
  padding-top:1% ;
  padding-bottom:1% ;
  max-width:30vw;
   max-height:20vw;
  
     display:inline-block;
}
.dividedashinfo{
  border:solid;
  padding-top:10vw;
  border-width: 3px;
  border-style:double ;
  margin: 1vw;
}
@media screen and (max-width: 750px) {
  .sidebar {
    height:200%;
    width: 18vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 67vw;
  }
}
.toggle-menu {
  display: none;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}
@media screen and (min-width: 768px) {
 .toggle-menu {
    display: none;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav a {
  float: left;
  position:relative;
  color: #f2f2f2;
  text-align: center;
  padding: 44px 30px;
     height:5vw ;
     width:10vw; 
     font-size:22px;
  text-decoration: none;
  
}

.topnav a:hover {
  background-color: #111;
}



.topnav a.icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    width: 10px;
  height: 10px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.login {position: relative;}
  .topnav.register {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width:100%;
  }.topnav.responsive a.login {
    float: none;
    display: block;
    position:relative;
    text-align: left;
    width:100%;
  }
  .topnav.responsive a.register {
    float: none;
    display: block;
    position:relative;
    text-align: left;
    width:100%;
  }
}
a.logoa{
  width: 17vw;
  z-index:10;
}

.topnav a.login {
  background: #333;;
  height: 0.1vw;
  position: absolute;
  right: 0;
  top: -0vw;
  text-align: center;
  vertical-align: middle;
  margin-left:1vw;
}

.topnav a.register {
  background: #333;;
  height: 0.1vw;
  position: absolute;
  right: 0;
  text-align: center;
  vertical-align: middle;
  margin-top: 5.0vw; 
  margin-left:1vw;/* Add a margin to create some space between the links */
}

a.register:hover  {
  background-color: #111;
}
a.login:hover  {
  background-color: #111;
}
.logo{
  position: absolute;
  z-index: 5;
  top:-2vw;
  left:-3vw;

  padding: 44px 30px;
  height: 42px;
  width: 17vw;
  
}
img.logo{
  height:8vw;
  width: 20vw;
}
.tableflex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:4vw 4vw;
  border: 9px solid #1C6EA4;
border-radius: 40px;
background-color: white;

}
@media  screen and (max-width: 600px) {
  .tableflex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
  @media screen and (max-width: 480px) {
    .tableflex{
      padding:6vw 15vw;
      width:95.5vw;
      margin-left:-4vw;
      
    }
  }
  @media screen and (max-width: 480px) {
    .cart{
     
      width:99vw;
      
    }
  }
.flex-cart{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:2vw 2vw;
  border: 9px solid #1C6EA4;
border-radius: 40px;
margin:0vw;
background-color:#1C6EA4 ;
}
.payment-type{
  border: 9px solid #1C6EA4;
  background-color: white;
  border-radius: 40px;
  padding:1vw;
  width:30vw;
  margin-left:15vw;
  
}
@media screen and (max-width: 1555px) {
  .payment-type{
  margin:0;
  width:40vw;
  }
}
@media screen and (max-width: 1000px) {
  .payment-type{
  margin:0;
  width:53vw;
  }
}
@media screen and (max-width: 850px) {
  .payment-type{
  margin:0;
  width:62vw;
  }
}
@media screen and (max-width: 600px) {
  .payment-type{
  margin:0;
  width:80vw;
  }
}
@media screen and (max-width: 480px) {
  .payment-type{
  margin:0;
  width:99vw;
  margin-left:-3vw;
  }
}
.paypal{
  margin-top:0.8vw;
}
.cashpay {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  width:25vw;
  text-align: center;
margin-left:1vw;
 
 
}
@media only screen and (max-width: 1600px){
  .cashpay{ 
   
  width: 25vw;
}
}
@media only screen and (max-width: 1555px){
  .cashpay{ 
   
  width: 34vw;
}
}
@media screen and (max-width: 1000px){
  .cashpay{ 
  width: 47vw;
}
}
@media screen and (max-width: 850px){
  .cashpay{ 

   
    width: 56vw;
}
}
@media  screen and (max-width: 800px){
  .cashpay{ 

   
  width: 54vw;
}
}

@media only screen and (max-width: 600px){
  .cashpay{ 

   
  width: 72vw;
}
}
@media only screen and (max-width: 500px){
  .cashpay{ 

   
  width: 70vw;
}
}
@media only screen and (min-width: 200px) and (max-width: 320px){
  button.cashpayb {
   
    height: 18px;
}
}
@media only screen and (min-width: 200px){
  button.cashpayb {
   
    height: 18px;
}
}
label.labelpay{
  
 display:inline-block;
}
@media only screen and (max-width: 500px){
  label.labelpay {
   
   margin:2vw;
}
}
.cashpay:hover {
	background:linear-gradient(to bottom, 	#C41E3A 5%, #8B0000 100%);
	background-color:#ffab23;
}
.cashpay:active {
	position:relative;
	top:1px;
}
button.cashpayb{
  background-color: #0784bd;
  background-repeat: no-repeat;
position:relative;
border:none;
  cursor: pointer;
  overflow: hidden;
  outline: none;  
  width: 100%;
  height:fit-content;
  padding:0.5vw;
  align-items: center;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantitynumber{
  width:1vw;
  text-align: center  ;
}
.paypalsize{
  align-items: center;
  margin:1vw;
  
  max-width: 15w;
  
}
.cashpayment{
  width:30vw;
}
.profilesave{
  background-color: #0784bd;
  background-repeat: no-repeat;
position:relative;
border:none;
  cursor: pointer;
  overflow: hidden;
  outline: none;  
  width: 100%;
  height:fit-content;
  padding:0.5vw;
  align-items: center;

}
.profileoverview{
  width:30vw;
}
label.profilelabel{
  display:inline-block;
}

@media only screen and (max-width: 500px){
  label.profilelabel {
   
   margin:2vw;
}
}
.profilecheckbox{
  border: 9px solid #1C6EA4;
  background-color: white;
  border-radius: 40px;
  padding:1vw;
  width:30vw;
  margin-left:4vw;
  width:45vw;
  
  
}
@media screen and (max-width: 1555px) {
  .profilecheckbox{
  margin:0;
  width:30vw;
  }
}
@media screen and (max-width: 1000px) {
  .profilecheckbox{
  margin:0;
  width:53vw;
  }
}
@media screen and (max-width: 850px) {
  .profilecheckbox{
  margin:0;
  width:62vw;
  }
}
@media screen and (max-width: 600px) {
  .profilecheckbox{
  margin:0;
  width:80vw;
  }
}
@media screen and (max-width: 480px) {
  .profilecheckbox{
  margin:0;
  width:99vw;
  margin-left:-3vw;
  }
}